@charset "utf-8";

body {
  font-family: 'Raleway';
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.inner {
  max-width: 1100px;
  margin: 0 auto;
}

.wrapper {
  background-color: #f2f2f2;
}

.header {
  box-sizing: border-box;
  background-color: white;
  position: fixed;
  width: 100%;
  padding: 15px 0;
  z-index: 1000;
}

.main-contents {
  padding-top: 80px;
}

.key-visual {
  padding: 250px 0;
  text-align: center;
}

.about {
  background-color: #74cfae;
  padding-top: 50px;
}

.work {
  padding: 60px 0 70px;
}

.skill {
  background-color: #4e4e4e;
  padding: 70px 0 100px;
}

.icon-series {
  padding: 200px 0;
  font-size: 0;
}

.nav-left {
  float: left;
  text-align: center;
}

.nav-right {
  float: right;
}

.nav-icon {
  font-size: 50px;
  color: #4e4e4e;
}

.nav-button {
  padding: 14px 12px;
  display: inline-block;
}

.button {
  background-color: #74cfae;
  color: white;
  font-size: 12px;
  text-decoration: none;
  transition: .3s;
}

.button:hover {
  color: #333;
}

.button:active {
  background-color: #f2f2f2;
  color: #74cfae;
}

.work-bottom-button {
  padding: 14px 20px;
}

.main-title {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.sub-title {
  margin-top: 20px;
  font-size: 30px;
  color: #c0c0c0;
}

.about-left {
  float: left;
  width: 40%;
  text-align: center;
}

.about-left img {
  vertical-align: top;
}

.about-right  {
  float: right;
  width: 60%;
  text-align: center;
  line-height: 25px;
  word-wrap: break-word;
  color: white;
}

.about-right-title {
  font-size: 24px;
  margin: 35px 0;
}

.about-right-text {
  font-size: 20px;
}


.work-title {
  font-size: 24px;
  text-align: center;
}

.work-content {
  font-size: 0;
  margin: 40px 0 90px;
}

.work-content-link {
  display: inline-block;
  margin-left: 100px;
  opacity: 0.7;
  transition-duration: .3s;
}

.work-content-link:nth-child(3n+1) {
  margin-left: 0;
}

.work-content-link:nth-child(n+4) {
  margin-top: 80px;
}

.work-content-link:hover  {
  opacity: 1;
}

.work-bottom {
  text-align: center;
  margin-left: 140px;
}

.work-bottom-text {
  float: left;
  width: 60%;
}

.work-bottom-link {
  float: left;
  margin-left: 90px;
}

.skill-title {
  color: white;
  text-align: center;
  font-size: 24px;
}

.skill-content {
  text-align: center;
  margin-top: 50px;
  font-size: 0;
}

.skill-circle-photo {
  display: inline-block;
  margin-left: 180px;
}

.skill-circle-photo:first-child {
  margin-left: 0;
}

.circle-photo-description {
  margin-top: 20px;
  font-size: 16px;
  color: white;
}

.icon {
  text-align: center;
}

.icon-link {
  display: inline-block;
  width: 185px;
  padding: 20px 0;
  font-size: 70px;
  color: #74cfae;
  background-color: #f2f2f2;
  transition-duration: .3s;
}

.icon-link:hover {
  background-color: white;
}

.footer {
  background-color: #74cfae;
  padding: 20px 0 25px;
}

.copyright {
  color: #f2f2f2;
  font-size: 14px;
  text-align: right;
}

/*ハンバーガー*/
.type-phone-menu {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background: white;
  color: #000;
  text-align: center;
  transform: translateY(-200%);
  transition: all 0.5s;
  width: 100%;
}

.type-phone-menu ul {
  background: white;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.type-phone-menu ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  border-bottom: 1px dotted #333;
}

.type-phone-menu ul li:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.type-phone-menu ul li a {
  display: block;
  color: #000;
  text-decoration: none;
  padding: 1em 0;
  transition: .3s;
}

.type-phone-menu ul li a:hover {
  color: #74cfae;
}

.type-phone-menu.active {
  transform: translateY(0%);
}

.navToggle {
  display: block;
  position: fixed;
  padding: 10px;
  right: 10px;
  top: 15px;
  width: 30px;
  height: 28px;
  cursor: pointer;
  z-index: 3;
  background: white;
  text-align: center;
  border: 1px solid #ddd;
  border-radius:  4px;
}

.navToggle span {
  display: block;
  position: absolute;
  width: 30px;
  border-bottom: solid 3px #ddd;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  left: 10px;
}

.navToggle span:nth-child(1) {
  top: 9px;
}

.navToggle span:nth-child(2) {
  top: 18px;
}

.navToggle span:nth-child(3) {
  top: 27px;
}

.navToggle span:nth-child(4) {
  border: none;
  color: #ddd;
  font-size: 9px;
  font-weight: bold;
  top: 34px;
}

/* 最初のspanをマイナス45度に */
.navToggle.active span:nth-child(1) {
  top: 14px;
  left: 10px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* 2番目と3番目のspanを45度に */
.navToggle.active span:nth-child(2),
.navToggle.active span:nth-child(3) {
  top: 14px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media screen and (min-width:767px) {

  .type-phone {
    display: none;
  }
}

@media screen and (min-width:767px) and (max-width:1199px) {

  .about {
    padding-bottom: 25px;
  }

  .about-left {
    float: none;
    margin: 0 auto 20px;
  }

  .about-right {
    float: none;
    margin-top: 35px;
    width: 100%;
    text-align: center;
  }

  .about-right-title {
    margin: 0;
  }

  .about-right-text {
    margin-top: 35px;
  }

  .skill-circle-photo {
    display: block;
    margin: 0 0 88px 0;
  }

}

@media screen and (max-width:766px) {

  .about {
    padding: 50px 15px 20px;
  }

  .about-left {
    float: none;
    margin: 0;
    width: 100%;
    text-align: center;
  }
  .about-left img {
    display: inline-block;
  }

  .about-right {
    float: none;
    width: 100%;
  }

  .key-visual {
    padding: 160px 0 130px;
  }

  .main-title {
    font-size: 80px;
  }

  .sub-title {
    font-size: 30px;
    margin-top: 20px;
  }

  .skill-circle-photo {
    display: block;
    margin: 0 0 88px 0;
  }

  .icon-series {
    padding: 50px 15px;
  }

  .icon-link {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  .footer {
    padding: 20px 15px 25px;
  }

  .type-pc-tab {
    display: none;
  }
}

@media screen and (max-width:1199px) {

  .inner {
    max-width: 97%;
  }

  .work {
    text-align: center;
  }

  .work-content {
    text-align: center;
    margin: 60px 0 80px;
    display: inline-block;
  }

  .work-content-link {
    margin: 0;
    display: block;
  }

  .work-content-link:nth-child(n+4) {
    margin-top: 0;
  }

  .work-content-link:nth-child(3n) {
    margin-bottom: 80px;
  }

  .work-content-link:last-child {
    margin-bottom: 0;
  }

  .work-bottom {
    width: 100%;
    margin: 0;
  }

  .work-bottom-text {
    float: none;
    margin: 0 auto;
  }

  .work-bottom-link {
    margin: 70px auto 0;
    display: inline-block;
    float: none;
  }

  .skill-circle-photo:last-child {
    margin-bottom: 0;
  }
}
