@charset "utf-8";

body {
  font-family: 'Raleway';
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

h1 {
  font-size: 24px;
}

.wrapper {
  background-color: #f2f2f2;
}

.header {
  box-sizing: border-box;
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.inner {
  max-width: 1100px;
  margin: 0 auto;
}

.header {
  padding: 15px 0;
}

.main-contents {
  padding-top: 80px;
}

.key-visual {
  padding: 250px 0;
  text-align: center;
}

.about-visual {
  background-color: #74cfae;
  padding-top: 50px;
}

.image-visual {
  padding: 60px 0 70px;
}

.skill-visual {
  background-color: #4e4e4e;
  padding: 70px 0 100px;
}

.icon-visual {
  padding: 200px 0;
  font-size: 0;
}

.article-left img {
  vertical-align: top;
}

.inner-left {
  float: left;
  text-align: center;
}

.img-icon {
  font-size: 50px;
  color: #4e4e4e;
}

.nav-button {
  padding: 14px 12px;
  display: inline-block;
}

.button {
  background-color: #74cfae;
  color: white;
  font-size: 12px;
  outline: none;
  border: none;
  text-decoration: none;
  transition: .3s;
}

.button:hover {
  color: #333;
}

.button:active {
  background-color: #f2f2f2;
  color: #74cfae;
}

.inner-right {
  float: right;
}

.nav-option {
  font-size: 30px;
  line-height: 50px;
  font-weight: bold;
}

.button-image {
  padding: 14px 20px;
}

.nav-option a:hover {
  color: white;
}


.main_title {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.sub_title {
  margin-top: 20px;
  font-size: 30px;
  color: #c0c0c0;
}

.article-left {
  float: left;
  width: 40%;
  text-align: center;
}

.article-right  {
  float: right;
  width: 60%;
  text-align: center;
  line-height: 25px;
  word-wrap: break-word;
  color: white;
}

.article-title {
  font-size: 24px;
  margin: 35px;
}

.p_article-right {
  font-size: 20px;
}


.image-title {
  font-size: 24px;
  text-align: center;
}

.div_image {
  font-size: 0;
  margin: 40px 0 90px;
}

.image {
  display: inline-block;
  margin-left: 100px;
  opacity: 0.7;
  transition-duration: .3s;
}

.image:nth-child(3n+1) {
  margin-left: 0;
}
.image:nth-child(4n-1) {
  margin-bottom: 80px;
}

.image:hover  {
  opacity: 1;
}

.div_float {
  text-align: center;
  margin-left: 140px;
}

.p_float {
  float: left;
  width: 60%;
}

.button-right {
  float: left;
  margin-left: 90px;
}

.div_circle_photo {
  text-align: center;
  margin-top: 50px;
  font-size: 0;
}

.photo img {
  vertical-align: top;
}

.circle-title {
  color: white;
  text-align: center;
}

.circle_photo {
  display: inline-block;
  margin-left: 180px;
}

.circle_photo:first-child {
  margin-left: 0;
}

.circle_photo:first-child {
  padding-left: 0;
}

.circle_photo:last-child {
  padding-right: 0;
}

.circle_photo_description {
  margin-top: 20px;
  font-size: 16px;
  color: white;
}


.btn-item {
  display: inline-block;
  width: 185px;
  padding: 20px 0;
  font-size: 70px;
  color: #74cfae;
  background-color: #f2f2f2;
  border: none;
  outline: none;
  transition-duration: .3s;
}

.icons {
  text-align: center;
}

.btn-item:hover {
  background-color: white;
}

.footer {
  background-color: #74cfae;
  padding: 20px 0 25px;
}

.copyright {
  color: #f2f2f2;
  font-size: 14px;
  text-align: right;
}