@charset "utf-8";

body {
  font-family: 'Raleway';
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

h1, h2 {
  font-size: 24px;
}

.wrapper {
  background-color: #f2f2f2;
}

.header {
  box-sizing: border-box;
  background-color: white;
  position: fixed;
  width: 100%;
  padding: 15px 0;
  z-index: 1000;
}

.inner {
  max-width: 1100px;
  margin: 0 auto;
}

.main-contents {
  padding-top: 80px;
}

.key-visual {
  padding: 250px 0;
  text-align: center;
}

.about {
  background-color: #74cfae;
  padding-top: 50px;
}

.work {
  padding: 60px 0 70px;
}

.skill {
  background-color: #4e4e4e;
  padding: 70px 0 100px;
}

.icon-series {
  padding: 200px 0;
  font-size: 0;
}

.nav-left {
  float: left;
  text-align: center;
}

.nav-right {
  float: right;
}

.nav-icon {
  font-size: 50px;
  color: #4e4e4e;
}

.nav-button {
  padding: 14px 12px;
  display: inline-block;
}

.button {
  background-color: #74cfae;
  color: white;
  font-size: 12px;
  text-decoration: none;
  transition: .3s;
}

.button:hover {
  color: #333;
}

.button:active {
  background-color: #f2f2f2;
  color: #74cfae;
}

.work-bottom-button {
  padding: 14px 20px;
}

.main-title {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.sub-title {
  margin-top: 20px;
  font-size: 30px;
  color: #c0c0c0;
}

.about-left {
  float: left;
  width: 40%;
  text-align: center;
}

.about-left img {
  vertical-align: top;
}

.about-right  {
  float: right;
  width: 60%;
  text-align: center;
  line-height: 25px;
  word-wrap: break-word;
  color: white;
}

.about-right-title {
  font-size: 24px;
  margin: 35px 0;
}

.about-right-text {
  font-size: 20px;
}


.work-title {
  font-size: 24px;
  text-align: center;
}

.work-content {
  font-size: 0;
  margin: 40px 0 90px;
}

.work-content-link {
  display: inline-block;
  margin-left: 100px;
  opacity: 0.7;
  transition-duration: .3s;
}

.work-content-link:nth-child(3n+1) {
  margin-left: 0;
}

.work-content-link:nth-child(n+4) {
  margin-top: 80px;
}

.work-content-link:hover  {
  opacity: 1;
}

.work-bottom {
  text-align: center;
  margin-left: 140px;
}

.work-bottom-text {
  float: left;
  width: 60%;
}

.work-bottom-link {
  float: left;
  margin-left: 90px;
}

.skill-title {
  color: white;
  text-align: center;
}

.skill-content {
  text-align: center;
  margin-top: 50px;
  font-size: 0;
}

.skill-circle-photo {
  display: inline-block;
  margin-left: 180px;
}

.skill-circle-photo:first-child {
  margin-left: 0;
}

.circle-photo-description {
  margin-top: 20px;
  font-size: 16px;
  color: white;
}

.icon {
  text-align: center;
}

.icon-link {
  display: inline-block;
  width: 185px;
  padding: 20px 0;
  font-size: 70px;
  color: #74cfae;
  background-color: #f2f2f2;
  transition-duration: .3s;
}

.icon-link:hover {
  background-color: white;
}

.footer {
  background-color: #74cfae;
  padding: 20px 0 25px;
}

.copyright {
  color: #f2f2f2;
  font-size: 14px;
  text-align: right;
}